{% extends 'base.html' %}

{% block title %}Аутентификация{% endblock %}

{% block registration-nav-link %}
    <a href="{% url 'accounts:registration' %}" class="btn btn-warning">Регистрация</a>
{% endblock %}
{% block login-nav-link %}
{% endblock %}

{% block content %}

    <main class="form-signin text-center w-50 ms-auto me-auto mt-5">
        {{ has_error }}
        <h1 class="h3 mb-3 fw-normal">Пожалуйста выполните вход</h1>
        <form method="post">
            {% csrf_token %}
            {% if form.errors %}
                <p class="text-danger">Неверное имя пользователя или пароль!</p>
            {% endif %}
            <div class="form-floating">
                <input type="text" class="form-control" name="username" id="username" placeholder="Имя пользователя">
                <label for="username">Имя пользователя</label>
            </div>
            <div class="form-floating">
                <input type="password" class="form-control" name="password" id="password" placeholder="Пароль">
                <label for="password">Пароль</label>
            </div>
            <br>
            <button class="w-100 btn btn-lg btn-primary" type="submit">Войти</button>
        </form>
    </main>

{% endblock %}
